a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

body {
    background-color: rgb(243, 243, 243)
}

div.menu {
    display: flex;
    flex-wrap: nowrap;
}

div.verticalmenu {
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0;
    padding: 0;
}

.bottom label {
    flex-basis: 15%;
    margin-right: 1%;
    display: inline;
}

.menuitem {
    padding: 1px;
    text-align: center;
    margin: 0;
    padding: 1px;
}

.menuitem button{
    border: 2px solid silver;
}

.bottom .separator {
    flex-basis: 78%;
}

.separator {
    flex-basis: 100%;
}

.path {
    flex-basis: 100%;
}

/*.menuitem button:hover {
    background-color: rgb(161, 183, 255);
    border-color: blue;
}*/

.menuitem:hover, .menuitem button:hover {
    background-color: rgb(161, 183, 255);
    border-color: blue;
}

.navigators {
    display: grid;
    grid-template-columns: 20% 80%;
}

.list {
    justify-content: center;
    width: 100%;
}

.toolbar .menu {
    flex-wrap: wrap;
}

.toolbar {
    background-color: rgb(233, 233, 233);    
}

.element button {
    width: 100%;
    height: 100%;
}

.withimg {
    width: 200px;
    height: 200px;
}

.withimg figure {
    height: 100%;
    width: 100%;
}

figure img {
    height: 70%;
    width: 70%;
}

.folderview {
    display: list-item;
}

.folderview-flex {
    display: flex;
}

@media  (max-width: 600px) {
    .navigators{
        display: inline;
    }

    div.disappear {
        display: none;
    }
}

@media (max-width: 450px){
    .findstring .menu {
        flex-wrap: wrap;
    }
}