body {
    margin: 0;
    padding: 0;
    background: #1d2e30;
    font-size: 30px;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #202020;
}

select,.box input[type="text"],.box input[type="password"],.box input[type="submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    width: 220px !important;
    text-align: center;
    border: 2px;
    border: solid;
    border-color: #1e6d6d; 
    padding: 5px 10px;
    font-size: 20px;
}

option {
    background-color: #202020;
}

.text {
    color: #d46615;
}

::placeholder {
    color: #d46615;
}