/* a */

/* b */

body {
    background-color: #1d2e30;
}

/* c */

/* d */

/* e */

/* f */

footer {    
    position: fixed;
    bottom: 0px;
    right: 0px;    
    height: 35px;    
    text-align: right;
    padding: 10px 30px;
}

/* g */

/* h */

h2 {
    text-align: center;
    font-size: 50px;
}

/* i */

iframe.videoplayer {
    width: fit-content;
    float: left;
}

/* j */

/* k */

/* l */

/*
li > a {
    color: #bdc0a7;
}*/

/* m */

/* n */

nav.navbar-main {
    font-size: 20px;
}

nav.navbar.navbar-main > ul > li.last {
    float: right;
    border-color: #489993;
}

nav.navbar.navbar-main > ul > li.first {
    border: 0px;
}

nav.navbar.navbar-main > ul > li.first:hover {
    background-color: rgb(32, 32, 32);
}

nav.navbar-main > ul > li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;

    border: 2px;
    border-style: solid;
    border-color: #747838;
}

nav.navbar-main > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
}

nav.navbar-main > ul > li:hover {
    background-color: rgb(131, 114, 19);
}

nav.navbar-main > ul > li.last:hover{
    background-color: rgb(19, 116, 116);
}

/* o */

object.include {
    position: relative;
    height: 1000px;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

/* p */

/* q */

/* r */

/* s */

section#content {
    margin-top: 20px;
    margin-left: 20px;
}

/* t */

/* u */

/* v */

/* w */

/* x */

/* y */

/* z */


.text {
    color: #d46615;
}

.info {
    width: max-content;
    padding-left: 20px;
}

.header {
    font-size: 70px;
    margin-bottom: -30px;
    text-align: center;
}

.main-text {
    word-wrap: break-word;
    font-size: 25px;
}

.split {
    height: 50%;
    width: 50%;
    max-width: 48.5%;
    position: fixed;
    overflow-y: auto;
    padding-top: 20px;
  }
  
.left {
padding-right: 50px;
}

.right {
right: 0;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
